#teacherInfo {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 30px;
    border: 0;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px #000;
}
#information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
#teacherPassportDiv img{
    float: right;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
#teacherPassportDiv{
    position: relative;
}
#teacherPassportDiv button {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "\1F58A";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 45%;
    right: 0;
    font-size: 20px;
    border-radius: 50%;
    background: var(--pri);
}