body {
  width: 100%;
}
.main {
  padding-left: 12rem;
  width: 100%;
  height: 100%;
}
.main-content-holder {
  width: 100%;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-right: 2rem;
}
.main-content-holder > * {
  width: 100%;
}
.select-grade {
  padding: 0.6em;
  background: #45cfdd;
  color: #164b60;
  border: 0px;
  outline: none;
  border-radius: 0.3em;
}
.select_heads {
  display: flex;
  background: #164b60;
  border-radius: 0.3em;
  height: 7vh;
  align-items: center;
  padding-left: 1rem;
  gap: 3rem;
}
.attendance_desc {
  display: flex;
  justify-content: space-evenly;
}
.att_rec {
  display: flex;
  justify-content: center;
}
.attendance-tables {
  margin-top: 3rem;
  height: 45vh;
  width: 100%;
  overflow-y: scroll;
}
.table-holder {
  width: 100%;
  height: 100%;
  justify-items: center;
  border-radius: 0.4rem;
}
.att-table {
  height: 100%;
  width: 100%;
  background: white;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}
.thead-att {
  width: 100%;
  background-color: #45cfdd;
  color: white;
}
