* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: white;
  color: #164b60;
  font-family: "Nunito Sans", sans-serif;
}
.student-navbar {
  position: fixed;
  height: 100vh;
  min-width: 12rem;
  left: 0;
  z-index: 10;
  background-color: #45cfdd;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-rows: 10% 90%;
}
.top-nav,
.other-navbars {
  width: 100%;
  height: 100%;
}
.top-nav {
  display: flex;
  width: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
}
.avatar-holder {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.avatar-holder > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.avatar-name > p {
  font-size: 1.2rem;
  font-weight: bold;
}

.other-navbars {
  margin-top: 1rem;
}
.icons-holder {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.icons-holder>a{
    text-decoration: none;
}
.home-item {
  background-color: #164b60;
}
.icon-item {
  width: 100%;
  height: 3rem;
display: grid;
  grid-template-columns: 25% 75%;
  align-content: center;
padding-left: 2rem;
  color: black;
}
.nav-icon > i {
  font-size: 1.3em;
  color: black;
}
.header-btn{
    padding: 0.5rem;
    background-color: #45cfdd;
    color: #164b60;
    text-decoration: none;
    border: 0px;
    outline: none;
    border-radius: 0.2rem;
}.header-btn>a{
    text-decoration: none;
}
.student-header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: #164b60;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.2rem;
}