:root{
    --pri: #45CFDD;
    --sec: #164B60;
}
.main-content-holder {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    z-index: 2;
}
#date {
    display: flex;
    align-items: center;
    height: 80px;
    color: var(--sec)
}
#time_subject_details{
    display: flex;
    background: var(--sec);
    border-radius: 15px;
}
#time{
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 250px;
    color: #aaaaaa;
}
#subject_details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#subject {
    font-size: 1.7em;
    color: #fff;
}
#details {
    color: var(--pri);
}
#days {
    border: none;
    padding: 0 30px 0px 15px;
    color: #fff;
    background: var(--sec);
    font-size: 20px;
    width: 200px;
    height: 40px;
    caret-color: white;
}
.dayOptions{
    font-size: 16px;
}
#timetableSortButton {
    width: 100px;
    height: fit-content;
}
#dayDiv{
    display: flex;
    gap: 30px;
}
ion-icon{
    position: absolute;
    width: 25px;
    height: 100%;
    right: 0;
    top: 0;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sortButton{
    width: 70px;
    border: 0;
    color: #FFF;
    background: var(--sec);
}